<b>

ISYS613 | Course Project | Fall 2021
--------|----------------|----------

</b>

## Project Overview
The objective of this project is to afford you the opportunity to demonstrate the
skills acquired over the course of the semester.  Specifically, you will be constructing
an analytics-ready dataset using data from several disparate, but related data sources.

Your dataset is to be a pandas dataframe suitable for answering the proof-of-concept
questions located at the end of this document.

### The Scenario
You are the proprietor of a small tour company.  You are interested in launching a new app
that will allow users to undertake self-guided tours of noteworthy authors. To launch your app
you need to assemble the authors' location information along with some other facts that you
believe will be of interest to your customers.

## Data Sources
You will be collecting and assembling data from several different sources and formats.
1. Source 1 - web scraping
1. Source 2 - delimitted file
1. Source 3 - direct download XML file
1. Source 4 - Zip Code API

## Project Teams
Working on a team is not a requirement and you may complete the project on your own.
Thus, project team(s) may be composed of 1 or **at most** 2 students. If you are working
with another student please, ensure both of your names are clearly visible in your final solution JNB.

### Source 1: Initial Author Data
The initial list of author names is to be web-scraped from a popular "famous quotes" website.
There are 50 unique authors available from this site.  Begin your exploration at the base
URL and determine your own strategy to find and capture the required author data.

Depending on your approach, you may encounter the same author multiple times.
In the end, your list of authors should be duplicate free.

```
Base Scrape URL: https://quotes.toscrape.com
```
#### Tasks
1. Beginning at the Base Scrape URL given above, you are to use a web scraping technique to collect
the following author information:
* Full Name
* Date of birth
* Birth location
2. Create a pandas dataframe from (or using) the relevant data

In [22]:
# TEST DATA
#URL = 'http://books.toscrape.com/'

from requests.exceptions import HTTPError
import requests
from bs4 import BeautifulSoup
import re
import pandas as pd
from urllib.parse import urljoin

EW_URL = 'https://quotes.toscrape.com'

def simple_get(url, *args, **kwargs):
    """
    Attempts to get the content at `url` by making an HTTP GET request.
    If the content-type of response is some kind of HTML/XML, return the
    text content, otherwise return None.
    """
    try:
        resp = requests.get(url, *args, **kwargs)
        # If the response was successful, no Exception will be raised
        resp.raise_for_status()

    except HTTPError as http_err:
        print(f'HTTP error occurred: {http_err}')
        raise http_err
    except Exception as err:
        print(f'Other error occurred: {err}')
        raise err

    return resp

allpage=[]      
def get_allurl2(url):
    resp = simple_get(url, timeout=5)
    html = resp.text
    soup = BeautifulSoup(html, 'html.parser') 
    
    li = soup.find('li', class_='next')
    if li is not None:      
        pgurl = urljoin(url, li.a['href'])  
        allpage.append(pgurl)
        
        get_allurl2(pgurl)
    


def who_actors(allurl):
    
    author = []
    author_date = []
    author_location = []
    for url in allurl:
    
        resp = simple_get(url, timeout=5)
        html = resp.text

        soup = BeautifulSoup(html, 'html.parser')

        body_tag = soup.body


        tag = soup.find_all("div", class_="quote")

        for t in tag:
            a = t.find("small", class_="author")
            author.append(a.text)
            #print("author testing")
            #print(a.text)

            link = allurl[0]+ t.a["href"]
            #print(link)
            result = requests.get(link)
            soup_loop = BeautifulSoup(result.text, 'html.parser')
            auth_date = soup_loop.find("span", class_="author-born-date")
            author_date.append(auth_date.text)
            auth_location = soup_loop.find("span", class_="author-born-location")
            author_location.append(auth_location.text)

        #print(author)
        #print(author_date)
        #print(author_location)
    output = pd.DataFrame({'author': author, 'Author_Birth_Date': author_date,  "Author_Birth_Location": author_location})
    newoutput=output.drop_duplicates(subset='author', keep="last")
    newoutput.reset_index(drop=True)
    print(newoutput)

        #for p in soup.find_all("span", class_ = "author"):
            #print(p.text)

        #for img in soup.find_all('img', title=re.compile(r'^Slide\s+\d+:\s+[A-Z]')):
            #print("here is test2")
            #print(img)

        #print("here is testing")
        #print(soup.findAll("article", class_ = "product_pod"))

        #url_main_page = [EW_URL+x.div.a.get('href') for x in soup.findAll("article", class_ = "product_pod")]

    
def main():
    allpage.append(EW_URL)
    get_allurl2(EW_URL)
    #print(allpage)
    who_actors(allpage)
    
if __name__ == "__main__":
    main()

                    author   Author_Birth_Date  \
6               André Gide   November 22, 1869
7         Thomas A. Edison   February 11, 1847
9             Steve Martin     August 14, 1945
15           Douglas Adams      March 11, 1952
16             Elie Wiesel  September 30, 1928
17     Friedrich Nietzsche    October 15, 1844
19          Allen Saunders      April 24, 1899
20            Pablo Neruda       July 12, 1904
23        Garrison Keillor     August 07, 1942
24              Jim Henson  September 24, 1936
32              Bob Marley   February 06, 1945
33           Mother Teresa     August 26, 1910
35       Charles M. Schulz   November 26, 1922
36       William Nicholson    January 12, 1948
38       Jorge Luis Borges     August 24, 1899
39            George Eliot   November 22, 1819
47  Martin Luther King Jr.    January 15, 1929
49           James Baldwin     August 02, 1924
51       Eleanor Roosevelt    October 11, 1884
52          Marilyn Monroe       June 01, 1926
54         Haruki Murakami    January 12, 1949
55    Alexandre Dumas fils       July 27, 1824
56         Stephenie Meyer   December 24, 1973
58            Helen Keller       June 27, 1880
59     George Bernard Shaw       July 26, 1856
62         Suzanne Collins     August 11, 1962
64          J.R.R. Tolkien    January 03, 1892
66        Ernest Hemingway       July 21, 1899
67     Ralph Waldo Emerson        May 25, 1803
70         Alfred Tennyson     August 06, 1809
71        Charles Bukowski     August 16, 1920
72         Terry Pratchett      April 28, 1948
74           J.D. Salinger    January 01, 1919
75           George Carlin        May 12, 1937
76             John Lennon    October 09, 1940
77             W.C. Fields    January 29, 1880
78                Ayn Rand   February 02, 1905
80         Albert Einstein      March 14, 1879
84             Jane Austen   December 16, 1775
89              C.S. Lewis   November 29, 1898
90            J.K. Rowling       July 31, 1965
91            Jimi Hendrix   November 27, 1942
92             J.M. Barrie        May 09, 1860
93           E.E. Cummings    October 14, 1894
94         Khaled Hosseini      March 04, 1965
95              Harper Lee      April 28, 1926
96       Madeleine L'Engle   November 29, 1918
97              Mark Twain   November 30, 1835
98               Dr. Seuss      March 02, 1904
99      George R.R. Martin  September 20, 1948

                                Author_Birth_Location
6                                    in Paris, France
7                   in Milan, Ohio, The United States
9                   in Waco, Texas, The United States
15          in Cambridge, England, The United Kingdom
16                                 in Sighet, Romania
17  in Röcken bei Lützen, Prussian Province of Sax...
19                               in The United States
20                                   in Parral, Chile
23             in Anoka, Minnesota, The United States
24      in Greenville, Mississippi, The United States
32                   in Nine Mile, Saint Ann, Jamaica
33  in Skopje, Macedonia, the Former Yugoslav Repu...
35              in Minneapolis, MN, The United States
36               in Lewes, Sussex, The United Kingdom
38                         in Buenos Aires, Argentina
39  in South Farm, Arbury Hall, Nuneaton, Warwicks...
47             in Atlanta, Georgia, The United States
49             in Harlem, New York, The United States
51                               in The United States
52                               in The United States
54                                    in Kyoto, Japan
55                                   in Paris, France
56                  in Connecticut, The United States
58           in Tuscumbia, Alabama, The United States
59                                 in Dublin, Ireland
62        in Hartford, Connecticut, The United States
64  in Bloemfontein, Mangaung, Free State, South A...
66           in Oak Park, Illinois, The United States
67        in Boston, Massachusetts, The United States
70      in Somersby, Lincolnshire, The United Kingdom
71                              in Andernach, Germany
72  in Beaconsfield, Buckinghamshire, England, The...
74          in Manhattan, New York, The United States
75           in New York, New York, The United States
76          in Liverpool, England, The United Kingdom
77          in Darby, Pennsylvania, The United States
78              in St. Petersburg, Russian Federation
80                                    in Ulm, Germany
84  in Steventon Rectory, Hampshire, The United Ki...
89                                in Belfast, Ireland
90  in Yate, South Gloucestershire, England, The U...
91          in Seattle, Washington, The United States
92  in Kirriemuir, Angus, Scotland, The United Kin...
93     in Cambridge, Massachusetts, The United States
94                              in Kabul, Afghanistan
95         in Monroeville, Alabama, The United States
96      in New York City, New York, The United States
97            in Florida, Missouri, The United States
98              in Springfield, MA, The United States
99          in Bayonne, New Jersey, The United States

### Source 2: Author Key Data
For each of the 50 authors previously identified, you are to merge a key and gender value available
from a CSV file with the author data from *Source 1*.

```
CSV File: *author_key_file.csv*
```
#### Tasks
1. The author names are unique in both
data sources and thus may be used to associate the *key* and *gender* attribute values with the author.
3. Once you have completed the merge, convert the *key* column to be the dataframe's row index.

In [7]:

# TEST DATA
#URL = 'http://books.toscrape.com/'

from requests.exceptions import HTTPError
import requests
from bs4 import BeautifulSoup
import re
import pandas as pd
from urllib.parse import urljoin

EW_URL = 'https://quotes.toscrape.com'

def simple_get(url, *args, **kwargs):
    """
    Attempts to get the content at `url` by making an HTTP GET request.
    If the content-type of response is some kind of HTML/XML, return the
    text content, otherwise return None.
    """
    try:
        resp = requests.get(url, *args, **kwargs)
        # If the response was successful, no Exception will be raised
        resp.raise_for_status()

    except HTTPError as http_err:
        print(f'HTTP error occurred: {http_err}')
        raise http_err
    except Exception as err:
        print(f'Other error occurred: {err}')
        raise err

    return resp

allpage=[]      
def get_allurl2(url):
    resp = simple_get(url, timeout=5)
    html = resp.text
    soup = BeautifulSoup(html, 'html.parser') 
    
    li = soup.find('li', class_='next')
    if li is not None:      
        pgurl = urljoin(url, li.a['href'])  
        allpage.append(pgurl)
        
        get_allurl2(pgurl)
    


def who_actors(allurl):
    
    author = []
    author_date = []
    author_location = []
    for url in allurl:
    
        resp = simple_get(url, timeout=5)
        html = resp.text

        soup = BeautifulSoup(html, 'html.parser')

        body_tag = soup.body


        tag = soup.find_all("div", class_="quote")

        for t in tag:
            a = t.find("small", class_="author")
            author.append(a.text)
            #print("author testing")
            #print(a.text)

            link = allurl[0]+ t.a["href"]
            #print(link)
            result = requests.get(link)
            soup_loop = BeautifulSoup(result.text, 'html.parser')
            auth_date = soup_loop.find("span", class_="author-born-date")
            author_date.append(auth_date.text)
            auth_location = soup_loop.find("span", class_="author-born-location")
            author_location.append(auth_location.text)

        #print(author)
        #print(author_date)
        #print(author_location)
    output = pd.DataFrame({'author': author, 'Author_Birth_Date': author_date,  "Author_Birth_Location": author_location})
    newoutput=output.drop_duplicates(subset='author', keep="last")
    newoutput.reset_index(drop=True)
    print(newoutput)
    return newoutput

        #for p in soup.find_all("span", class_ = "author"):
            #print(p.text)

        #for img in soup.find_all('img', title=re.compile(r'^Slide\s+\d+:\s+[A-Z]')):
            #print("here is test2")
            #print(img)

        #print("here is testing")
        #print(soup.findAll("article", class_ = "product_pod"))

        #url_main_page = [EW_URL+x.div.a.get('href') for x in soup.findAll("article", class_ = "product_pod")]

    
def main():
    allpage.append(EW_URL)
    get_allurl2(EW_URL)
    #print(allpage)
    author_pd = who_actors(allpage)
    
    t  = pd.read_csv('author_key_file.csv', delimiter=",") 
    dfinal = author_pd.merge(t, how='left', left_on='author', right_on='name')
    
    dfinal.set_index('key', inplace = True)
    print(dfinal)
if __name__ == "__main__":
    main()

                    author   Author_Birth_Date  \
6               André Gide   November 22, 1869
7         Thomas A. Edison   February 11, 1847
9             Steve Martin     August 14, 1945
15           Douglas Adams      March 11, 1952
16             Elie Wiesel  September 30, 1928
17     Friedrich Nietzsche    October 15, 1844
19          Allen Saunders      April 24, 1899
20            Pablo Neruda       July 12, 1904
23        Garrison Keillor     August 07, 1942
24              Jim Henson  September 24, 1936
32              Bob Marley   February 06, 1945
33           Mother Teresa     August 26, 1910
35       Charles M. Schulz   November 26, 1922
36       William Nicholson    January 12, 1948
38       Jorge Luis Borges     August 24, 1899
39            George Eliot   November 22, 1819
47  Martin Luther King Jr.    January 15, 1929
49           James Baldwin     August 02, 1924
51       Eleanor Roosevelt    October 11, 1884
52          Marilyn Monroe       June 01, 1926
54         Haruki Murakami    January 12, 1949
55    Alexandre Dumas fils       July 27, 1824
56         Stephenie Meyer   December 24, 1973
58            Helen Keller       June 27, 1880
59     George Bernard Shaw       July 26, 1856
62         Suzanne Collins     August 11, 1962
64          J.R.R. Tolkien    January 03, 1892
66        Ernest Hemingway       July 21, 1899
67     Ralph Waldo Emerson        May 25, 1803
70         Alfred Tennyson     August 06, 1809
71        Charles Bukowski     August 16, 1920
72         Terry Pratchett      April 28, 1948
74           J.D. Salinger    January 01, 1919
75           George Carlin        May 12, 1937
76             John Lennon    October 09, 1940
77             W.C. Fields    January 29, 1880
78                Ayn Rand   February 02, 1905
80         Albert Einstein      March 14, 1879
84             Jane Austen   December 16, 1775
89              C.S. Lewis   November 29, 1898
90            J.K. Rowling       July 31, 1965
91            Jimi Hendrix   November 27, 1942
92             J.M. Barrie        May 09, 1860
93           E.E. Cummings    October 14, 1894
94         Khaled Hosseini      March 04, 1965
95              Harper Lee      April 28, 1926
96       Madeleine L'Engle   November 29, 1918
97              Mark Twain   November 30, 1835
98               Dr. Seuss      March 02, 1904
99      George R.R. Martin  September 20, 1948

                                Author_Birth_Location
6                                    in Paris, France
7                   in Milan, Ohio, The United States
9                   in Waco, Texas, The United States
15          in Cambridge, England, The United Kingdom
16                                 in Sighet, Romania
17  in Röcken bei Lützen, Prussian Province of Sax...
19                               in The United States
20                                   in Parral, Chile
23             in Anoka, Minnesota, The United States
24      in Greenville, Mississippi, The United States
32                   in Nine Mile, Saint Ann, Jamaica
33  in Skopje, Macedonia, the Former Yugoslav Repu...
35              in Minneapolis, MN, The United States
36               in Lewes, Sussex, The United Kingdom
38                         in Buenos Aires, Argentina
39  in South Farm, Arbury Hall, Nuneaton, Warwicks...
47             in Atlanta, Georgia, The United States
49             in Harlem, New York, The United States
51                               in The United States
52                               in The United States
54                                    in Kyoto, Japan
55                                   in Paris, France
56                  in Connecticut, The United States
58           in Tuscumbia, Alabama, The United States
59                                 in Dublin, Ireland
62        in Hartford, Connecticut, The United States
64  in Bloemfontein, Mangaung, Free State, South A...
66           in Oak Park, Illinois, The United States
67        in Boston, Massachusetts, The United States
70      in Somersby, Lincolnshire, The United Kingdom
71                              in Andernach, Germany
72  in Beaconsfield, Buckinghamshire, England, The...
74          in Manhattan, New York, The United States
75           in New York, New York, The United States
76          in Liverpool, England, The United Kingdom
77          in Darby, Pennsylvania, The United States
78              in St. Petersburg, Russian Federation
80                                    in Ulm, Germany
84  in Steventon Rectory, Hampshire, The United Ki...
89                                in Belfast, Ireland
90  in Yate, South Gloucestershire, England, The U...
91          in Seattle, Washington, The United States
92  in Kirriemuir, Angus, Scotland, The United Kin...
93     in Cambridge, Massachusetts, The United States
94                              in Kabul, Afghanistan
95         in Monroeville, Alabama, The United States
96      in New York City, New York, The United States
97            in Florida, Missouri, The United States
98              in Springfield, MA, The United States
99          in Bayonne, New Jersey, The United States
                          author   Author_Birth_Date  \
key
QW5kcmUt              André Gide   November 22, 1869
VGhvbWFz        Thomas A. Edison   February 11, 1847
U3RldmUt            Steve Martin     August 14, 1945
RG91Z2xh           Douglas Adams      March 11, 1952
RWxpZS1X             Elie Wiesel  September 30, 1928
RnJpZWRy     Friedrich Nietzsche    October 15, 1844
QWxsZW4t          Allen Saunders      April 24, 1899
UGFibG8t            Pablo Neruda       July 12, 1904
R2Fycmlz        Garrison Keillor     August 07, 1942
SmltLUhl              Jim Henson  September 24, 1936
Qm9iLU1h              Bob Marley   February 06, 1945
TW90aGVy           Mother Teresa     August 26, 1910
Q3hhcmxl       Charles M. Schulz   November 26, 1922
V2lsbGlh       William Nicholson    January 12, 1948
Sm9yZ2Ut       Jorge Luis Borges     August 24, 1899
R4Vvcmdl            George Eliot   November 22, 1819
TWFydGlu  Martin Luther King Jr.    January 15, 1929
SmFtZXMt           James Baldwin     August 02, 1924
RWxlYW5v       Eleanor Roosevelt    October 11, 1884
TWFyaWx5          Marilyn Monroe       June 01, 1926
SGFydWtp         Haruki Murakami    January 12, 1949
NaN         Alexandre Dumas fils       July 27, 1824
U3RlcGhl         Stephenie Meyer   December 24, 1973
SGVsZW4t            Helen Keller       June 27, 1880
R2Vvcmdl     George Bernard Shaw       July 26, 1856
U3V6YW5u         Suzanne Collins     August 11, 1962
Si1SLVIt          J.R.R. Tolkien    January 03, 1892
RXJuZXN0        Ernest Hemingway       July 21, 1899
UmFscGgt     Ralph Waldo Emerson        May 25, 1803
QWxmcmVk         Alfred Tennyson     August 06, 1809
Q2hhcmxl        Charles Bukowski     August 16, 1920
VGVycnkt         Terry Pratchett      April 28, 1948
Si1ELVNh           J.D. Salinger    January 01, 1919
R3Vvcmdl           George Carlin        May 12, 1937
Sm9obi1M             John Lennon    October 09, 1940
Vy1DLUZp             W.C. Fields    January 29, 1880
QXluLVJh                Ayn Rand   February 02, 1905
QWxiZXJ0         Albert Einstein      March 14, 1879
SmFuZS1B             Jane Austen   December 16, 1775
Qy1TLUxl              C.S. Lewis   November 29, 1898
Si1LLVJv            J.K. Rowling       July 31, 1965
SmltaS1I            Jimi Hendrix   November 27, 1942
Si1NLUJh             J.M. Barrie        May 09, 1860
RS1FLUN1           E.E. Cummings    October 14, 1894
S2hhbGVk         Khaled Hosseini      March 04, 1965
SGFycGVy              Harper Lee      April 28, 1926
TWFkZWxl       Madeleine L'Engle   November 29, 1918
TWFyay1U              Mark Twain   November 30, 1835
RHItU2V1               Dr. Seuss      March 02, 1904
R5Vvcmdl      George R.R. Martin  September 20, 1948

                                      Author_Birth_Location  \
key
QW5kcmUt                                   in Paris, France
VGhvbWFz                  in Milan, Ohio, The United States
U3RldmUt                  in Waco, Texas, The United States
RG91Z2xh          in Cambridge, England, The United Kingdom
RWxpZS1X                                 in Sighet, Romania
RnJpZWRy  in Röcken bei Lützen, Prussian Province of Sax...
QWxsZW4t                               in The United States
UGFibG8t                                   in Parral, Chile
R2Fycmlz             in Anoka, Minnesota, The United States
SmltLUhl      in Greenville, Mississippi, The United States
Qm9iLU1h                   in Nine Mile, Saint Ann, Jamaica
TW90aGVy  in Skopje, Macedonia, the Former Yugoslav Repu...
Q3hhcmxl              in Minneapolis, MN, The United States
V2lsbGlh               in Lewes, Sussex, The United Kingdom
Sm9yZ2Ut                         in Buenos Aires, Argentina
R4Vvcmdl  in South Farm, Arbury Hall, Nuneaton, Warwicks...
TWFydGlu             in Atlanta, Georgia, The United States
SmFtZXMt             in Harlem, New York, The United States
RWxlYW5v                               in The United States
TWFyaWx5                               in The United States
SGFydWtp                                    in Kyoto, Japan
NaN                                        in Paris, France
U3RlcGhl                  in Connecticut, The United States
SGVsZW4t           in Tuscumbia, Alabama, The United States
R2Vvcmdl                                 in Dublin, Ireland
U3V6YW5u        in Hartford, Connecticut, The United States
Si1SLVIt  in Bloemfontein, Mangaung, Free State, South A...
RXJuZXN0           in Oak Park, Illinois, The United States
UmFscGgt        in Boston, Massachusetts, The United States
QWxmcmVk      in Somersby, Lincolnshire, The United Kingdom
Q2hhcmxl                              in Andernach, Germany
VGVycnkt  in Beaconsfield, Buckinghamshire, England, The...
Si1ELVNh          in Manhattan, New York, The United States
R3Vvcmdl           in New York, New York, The United States
Sm9obi1M          in Liverpool, England, The United Kingdom
Vy1DLUZp          in Darby, Pennsylvania, The United States
QXluLVJh              in St. Petersburg, Russian Federation
QWxiZXJ0                                    in Ulm, Germany
SmFuZS1B  in Steventon Rectory, Hampshire, The United Ki...
Qy1TLUxl                                in Belfast, Ireland
Si1LLVJv  in Yate, South Gloucestershire, England, The U...
SmltaS1I          in Seattle, Washington, The United States
Si1NLUJh  in Kirriemuir, Angus, Scotland, The United Kin...
RS1FLUN1     in Cambridge, Massachusetts, The United States
S2hhbGVk                              in Kabul, Afghanistan
SGFycGVy         in Monroeville, Alabama, The United States
TWFkZWxl      in New York City, New York, The United States
TWFyay1U            in Florida, Missouri, The United States
RHItU2V1              in Springfield, MA, The United States
R5Vvcmdl          in Bayonne, New Jersey, The United States

                            name gender
key
QW5kcmUt              André Gide      M
VGhvbWFz        Thomas A. Edison      M
U3RldmUt            Steve Martin      M
RG91Z2xh           Douglas Adams      M
RWxpZS1X             Elie Wiesel      M
RnJpZWRy     Friedrich Nietzsche      M
QWxsZW4t          Allen Saunders      M
UGFibG8t            Pablo Neruda      M
R2Fycmlz        Garrison Keillor      M
SmltLUhl              Jim Henson      M
Qm9iLU1h              Bob Marley      M
TW90aGVy           Mother Teresa      F
Q3hhcmxl       Charles M. Schulz      M
V2lsbGlh       William Nicholson      M
Sm9yZ2Ut       Jorge Luis Borges      M
R4Vvcmdl            George Eliot      F
TWFydGlu  Martin Luther King Jr.      M
SmFtZXMt           James Baldwin      M
RWxlYW5v       Eleanor Roosevelt      F
TWFyaWx5          Marilyn Monroe      F
SGFydWtp         Haruki Murakami      M
NaN                          NaN    NaN
U3RlcGhl         Stephenie Meyer      F
SGVsZW4t            Helen Keller      F
R2Vvcmdl     George Bernard Shaw      M
U3V6YW5u         Suzanne Collins      F
Si1SLVIt          J.R.R. Tolkien      M
RXJuZXN0        Ernest Hemingway      M
UmFscGgt     Ralph Waldo Emerson      M
QWxmcmVk         Alfred Tennyson      M
Q2hhcmxl        Charles Bukowski      M
VGVycnkt         Terry Pratchett      M
Si1ELVNh           J.D. Salinger      M
R3Vvcmdl           George Carlin      M
Sm9obi1M             John Lennon      M
Vy1DLUZp             W.C. Fields      M
QXluLVJh                Ayn Rand      F
QWxiZXJ0         Albert Einstein      M
SmFuZS1B             Jane Austen      F
Qy1TLUxl              C.S. Lewis      M
Si1LLVJv            J.K. Rowling      F
SmltaS1I            Jimi Hendrix      M
Si1NLUJh             J.M. Barrie      M
RS1FLUN1           E.E. Cummings      M
S2hhbGVk         Khaled Hosseini      M
SGFycGVy              Harper Lee      F
TWFkZWxl       Madeleine L'Engle      F
TWFyay1U              Mark Twain      M
RHItU2V1               Dr. Seuss      M
R5Vvcmdl      George R.R. Martin      M

In [8]:
t  = pd.read_csv('author_key_file.csv', delimiter=",") 
for col in t.columns:
    print(col)

name
key
gender

### Source 3: Author Location Data
This direct download XML data source contains the location information that will be used
to direct app users to the historical sites associated with each author.  The *id*
tag can be used to match the previously assembled author data (ie, the *key* attribute) with
the author location data.

You are to retain all of the location attributes (excluding *id* - which will be a
duplicate of the existing *key* attribute) from this data source to extend the
previously collected author data.

```
Direct Download URL: https://www.drivehq.com/file/DFPublishFile.aspx/FileID7657515244/Keycqacws4cypvo/author_location_data.xml
Data Format: XML
Encoding: UTF-8
```
#### Tasks
1. Ingest the XML data into a pandas dataframe
2. Use the pandas dataframe merge method to join the new dataframe
with the Source 1+2 dataframe.
3. *Source 3* contains location data for many public figures in addition
to the 50 authors in which we are currently interested. You must restrict your
final Source 3 dataframe to our 50 authors.

### Source 4: Zip Code API
You may have observed that the *Source 3* data does not include the city and zip code information for
the property locations for our 50 authors.  Your task is the use the latitude and longitude
values from the *Source 3* data to locate the city and zip code information and incorporate
that information into your dataframe.

The USPS maintains data related to all US zip codes and their centroid latitude and longitude.  The
*Source 3* data contains the latitude and longitude information (the lat and long tags) for the
author locations. Your task
is to use the *Source 3* latitude and longitude values as an argument to the zip code api in order to
to augment your dataframe with the city name and zip code of the authors' locations.

The ZIP code API contains ZIP codes for the
continental United States, Alaska, Hawaii, Puerto Rico, and American Samoa.
The API provides data in JSON format values for for ZIP code, city, latitude, longitude,
timezone (offset from GMT).

The relevant zip code API URL and parameters are shown in the table below.


API Information and Parameters | Value
---------------------|------
API Documentation | https://public.opendatasoft.com/explore/dataset/georef-united-states-of-america-zc-point/api/
API URL | https://public.opendatasoft.com/api/records/1.0/search/
dataset (parameter) | georef-united-states-of-america-zc-point
rows (parameter) | 100
geofilter.distance (parameter) | TBD by You. If used, distance value must by at least 10 kilometers
Geofilter Documentation | https://help.opendatasoft.com/platform/en/exploring_catalog_and_datasets/03_searching_the_data/search.html#geo-filtering
q (parameter) | TBD by You. If used, distance argument must by at least 10 kilometers. **Hint:** use the #distance function.
Search Documentation | https://help.opendatasoft.com/platform/en/exploring_catalog_and_datasets/03_searching_the_data/search.html#full-text-search
**Notes:** | use only one of either the *q* or *geofilter.distance* parameters. Do not use both.  The choice is yours.

#### Tasks
The long and lat values from *Source 3* are the exact longitude and latitude values for a
single property location.  As such, it is unlikely that you will find an exact match from the
zip code API using these values. Instead, you must:

1. round the lat and long values to 2 decimal place
2. invoke the API requesting all zip code related data within 10 kilometers from the
rounded lat and long values. (Refer to the *q* or *geofilter.distance* parameter documentation listed above.)
3. If the returned JSON results indicate more that one candidate record has been returned, you
must determine which record's longitude and latitude are the **closest** to the *Source 3*
long and lat values.
<br/><br/>There are several ways to accomplish this. For example, you could calculate the distance between the
each result's longitude,latitude values and the the long, lat values from *Source 3*. The
distance between the values can be calculated using the Pythagorean Theorem as follows: <br/>
&radic;( (lon<sub>1</sub>-lon<sub>2</sub>)<sup>2</sup> + (lat<sub>1</sub>-lat<sub>2</sub>)<sup>2</sup> )
 <br/><br/> Another, far better, approach involves a careful reading the documentation paying special attention to the *sort*
 parameter. This is a hint...
4. Use the city and zip code that are associated with the result having the
 minimum distance from (closest to) the *Source 3* long, lat values.

## Proof of Concept
Use the dataframe that you constructed above to answer the following three questions.

### Question 1
What is the mean and standard deviation of living space (sqft_living) by number of bedrooms? Use the pandas
dataframe.agg() method to calculate these statistics in a single step.

### Question 2
How many authors, by gender, live on lots that exceed the mean lot size (sqft_lot) by more
than 1 standard deviation.

### Question 3
Examine the documentation for the pandas dataframe.cut() method
[Docs](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.cut.html)

Use this method to convert the *price* attribute into to
3 approximately equal sized bins. Assign each bin specific labels of 'low', 'medium', 'high'.
How many authors are there in each price category?

## Deliverable
Due to the the implementation of the JNB app, it is very easy to create circular variable dependencies. Such
dependencies will thwart my ability to run your entire JNB solution and result in the loss of valuable project points.

To ensure that your have not inadvertently created such dependencies, I **strongly** recommend you perform the following steps
prior to submitting your JNB.

1. Clear all outputs from your JNB solution's code cells
1. Save you JNB solution
1. Stop and restart your JNB kernel via the *Kernel* Jupyter Notebook menu item. Use the
*Restart & Run All Output* menu item.
1. Inspect your output cells for any errors

Once you have completed your project, upload the JNB containing your solution to the
*Course Project* assessment item located in the *Course Project* content area on our Blackboard site.